<div id="users">Loading...</div>

<!-- <script type="text/javascript">
  $(function() {
    window.router = new BackBone.Routers.UsersRouter({users: <%= @users.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script> -->
