<h1>Hello Home</h1>
<div id="users" ></div>
<script type="text/javascript">
  //window.indexView = new BackBone.Views.Users.IndexView();
  //indexView.render();
  window.router = new myRouter();
  Backbone.history.start();

  // $('a').click(function(){
  //   router.navigate($(this).attr('href'), {trigger: true});
  //   return false;
  // })
</script>
